.vs/NWO_RegionNode/v17/.suo
.vs/NWO_RegionNode/v17/Browse.VC.db
.vs/NWO_RegionNode/v17/DocumentLayout.backup.json
.vs/NWO_RegionNode/v17/DocumentLayout.json
.vs/NWO_RegionNode/v17/Browse.VC.db
.vs/NWO_RegionNode/v17/.suo
.vs/NWO_RegionNode/v17/DocumentLayout.backup.json
.vs/NWO_RegionNode/v17/DocumentLayout.json
